*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.background-video{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 120px;
    color: #fff;
    margin-bottom: 50px;
}
.ordernow{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 13px;
    border-radius: 30px;
    transition: 0.3s;
}
.content a:hover{
    background-color: #fff;
    color: #000;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}
.navbar-fixed{
    position: absolute;
    background: transparent;
}
.navbar{
    position: absolute;
    background: transparent;
    padding-left: 200px;
    padding-right: 200px;
}
.navbar-text{
    padding-left: 20px;
}
.navbar-text:hover{
    background-color: grey;
    border-radius: 5px;
}
.logo{
    position: absolute;
    left: -65px;
    margin: 3px;
    height: 60px;  
}
.brand-logo{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 
    0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;
}

.bestseller-image1{
    margin-top: 50px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}
.img1size{
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img1size:hover{
    transform: translatex(60%);
    scale: 2.0;
}
.img2size{
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img2size:hover{
    transform: translatex(60%);
    scale: 2.0;
}
.img3size{
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img3size:hover{
    transform: translatex(60%);
    scale: 2.0;
}
.bestseller-video{
    width: 100%;
    height: 110vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bestseller-image2{
    margin-top: 50px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 5px solid red; 
}
.img4size{
    width: 460px;
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img4size:hover{
    transform: translateX(-60%);
    scale: 2.0;
}
.img5size{
    width: 460px;
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img5size:hover{
    transform: translateX(-60%);
    scale: 2.0;
}
.img6size{
    width: 460px;
    width: 460px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1.3s;
}
.img6size:hover{
    transform: translateX(-60%);
    scale: 2.0;
}
.bar-solid{
    left: -150px;
}
.text-h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
    0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;
    margin-top: -60px;
}
.text-h3{
    margin-top: -20px;
    font-size: 30px;
}


.marquee-text{
    margin-bottom: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.header{
    margin-left: 100px;
}
.About-us{
    margin-left: 100px;
    font-size: 17px;
}
.backgroundmenu{
    width: 100%;
    height: 1200px;
    
}
.menu-text{
    text-shadow:
    0 0 30px black,
    0 0 30px black,
    0 0 20px black,
    0 0 30px black;
}
.menu-text-hmtl{
    text-shadow: 0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;
    margin-top: 120px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.button-order{
    font-size: 20px;
    background-color: rgba(255, 123, 0, 0.89);
    margin-top: 7rem;
    border: 1px solid black;
    border-radius: 30px;
    transform: scale(1.2);
}
.button-order:hover{
    background-color:rgba(255, 123, 0, 0.89);
    scale: 1.1;
}
footer{
    background: black;
    padding-top: 50px;
}
.footer-css{
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 50px;
    margin-bottom: 12px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list a{
    color: white;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    font-size: 18px;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: orange;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;

}
.social-icons i:hover{
    color: orange;
}
.bottom-bar{
    background: rgba(255, 123, 0, 0.89);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 17px;
    padding: 7px;    
}
.table{
    font-size: 17px;
    border: 2px solid #fff;
    padding: 13px;
    border-radius: 10px;
}
.tablemenu{
    font-size: 20px;
    text-shadow: 0 0 20px #ff9900,
    0 0 30px #ff6600,
    0 0 40px #ff3300,
    0 0 50px #ff0000;
    border: 2px solid #fff;
    padding: 13px;
    border-radius: 10px;
    transition: 0.3s;
}
.tablemenu:hover{
    background-color: #fff;
    color: #000;
}
.tbodymenu{
    font-size: 13px;
    
}
.tbodymenu td{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-mag{
    color: #fff;
    margin-left: 20px;
    position: relative;
}